.container-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(150px, 1fr));
  gap: 32px;
  height: 100vh;
}

.side-bar {
  padding: 1.5rem;
  background-color: grey;
  width: 20rem;
  height: 100%;
  min-height: 100vh;
}
.search-bar {
  width: 15rem;
}

#callback{
  font-size: 2.5rem;
}

@media (max-width: 767px) {
  .side-bar {
    width: 100%;
    height: 20rem;
    max-height: 5rem;
    min-height: auto;
  }

  #cartas-container {
    margin-top: 18rem; 
    margin-bottom: 2rem;/* Puedes ajustar la cantidad de espacio según tus necesidades */
  }
  .home-container {
    flex-direction: column;
    
    
  }
}

