/* Estilos para dispositivos móviles */

/* Ajuste de ancho y márgenes para dispositivos móviles */
form {
  width: 90%; /* Hacer que el formulario ocupe el 90% del ancho de la pantalla */
  max-width: 350px; /* Limitar el ancho máximo del formulario */
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centrado horizontal */
}

/* Ajuste de estilos para etiquetas y entradas en dispositivos móviles */
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="file"] {
  margin-bottom: 20px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00897b; /* Color del botón */
  color: #fff; /* Color del texto del botón */
  font-size: 16px;
  cursor: pointer;
  margin-top: 1.5rem;
}

button[type="submit"]:hover {
  background-color: #00796b; /* Color del botón al pasar el mouse */
}
