.card {
  border-radius: 8px;
  padding: 2rem;
  width: 20rem;
  height: 30rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  align-items: center;
}
.card:last-child {
  margin: 0;
}

.card img {
  max-width: 70%;
  height: auto;
  align-items: center;
  justify-content: center;
}
.container-precio {
  font-size: 20px;
}

#subTitulo {
  color: gray;
  font-size: 15px;
  margin-right: 10rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

.estrella {
  color: gray;
  font-size: 24px;
}

.filled {
  color: gold; /* O el color que desees para las estrellas llenas */
}

.calificacion p {
  font-size: 20px;
  justify-content: space-between;
  padding: 1rem;
}

.card-title {
  font-size: 20px;
  margin-top: 0.1rem;
  font-weight: bold;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se desborda */
  text-align: center;
}

.priceCard1 {
  color: green;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  margin-top: 1rem;
}

.priceCard2 {
  color: gray;
  font-size: 30px;
  justify-content: center;
  margin-left: 1rem;
  text-decoration: line-through;
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .card {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .card {
    margin-bottom: 2rem;
  }
}
