body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #363535;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.container-footer {
  display: flex;
  justify-content: center;
}

#contactP {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
}
