.navbar {
  width: 100%;
  display: flex;
  z-index: 99;
}

.cart-icon {
  cursor: pointer;
}
.logo:hover {
  transition: transform 0.3s ease-in-out;
}
.logo:hover {
  transform: scale(1.3);
}
.iniciar:hover {
  transform: scale(1.3);
}
.home-link:hover {
  transition: transform 0.3s ease-in-out;
}
.home-link:hover {
  transform: scale(1.3);
}
.producto-link:hover {
  transform: scale(1.3);
}
.producto-link:hover {
  transition: transform 0.3s ease-in-out;
}

.cart-icon {
  transition: transform 0.3s ease-in-out;
}
.cart-icon:hover {
  transform: scale(1.2);
}
.registrarse:hover {
  transform: scale(1.2);
}
.iniciar {
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}
.registrarse {
  transition: transform 0.3s ease-in-out;
  margin-left: 3rem;
  text-decoration: none;
}
