.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.cart-icon,
.logo,
.home-link,
.registrarse {
  transition: transform 0.3s ease-in-out;
}

.logo:hover,
.home-link:hover,
.producto-link:hover,
.cart-icon:hover,
.registrarse:hover,
.iniciar:hover {
  transform: scale(1.3);
}

.pending {
  pointer-events: none;
}

.logo {
  margin-right: 20px;
}

.registrarse {
  margin-left: 20px;
  text-decoration: none;
}

.iniciar {
  text-decoration: none;
}

.btn-danger {
  white-space: nowrap;
}
